*{
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
}

.container {
    display: block; 
    margin: 0 auto;
    width: 1590px;
    height: 1250px;
    background: url(Page5.gif);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: contain;
    
}
.boxA {
    display: block;
    background: transparent;    
}
#box_1 {
    
    top: 1150px;
    left: 80px;
    position: absolute;
    width: 117px;
    height: 60px;
    background: url(BackButton.png);
}

#box_1:hover {
    background: url(BackButtonOVER.png);
    
}
.boxB {
    display: block;
    background: transparent;    
}
#box_2 {
    
    top: 125px;
    left: 276px;
    position: absolute;
    width: 169px;
    height: 223px;
    opacity: 0;
    background: url(MoonPage5.png);
    animation: opacityOn 0s normal forwards step-end;
    animation-delay: 7,2s;
}

@keyframes opacityOn {
    0% {
        opacity: 1;
    }
    100% {opacity: 0;
    }
}
    
}

#box_2:hover {
    background: url(MoonPage5.png);
    
    
}
