*{
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
}

.container {
    display: block; 
    margin: 0 auto;
    position: relative;
    width: 1590px;
    height: 1250px;
    background: url(images/Page1.png);
    background-repeat: no-repeat;
    background: contain;
    
    
}
.boxA {
    display: block;
    background: transparent;    
}
#box_1 {
   
    top: 1145px;
    left: 80px;
    position: absolute;
    width: 117px;
    height: 60px;
    background: url(Buttons/BackButton.png);
}

#box_1:hover {
    background: url(Buttons/BackButtonOVER.png);
    
}
#box_2 {
    background: url(Buttons/NextButton.png);
    top: 1145px;
    left: 1400px;
    position: absolute;
    width: 117px;
    height: 60px;
    background: url(Buttons/NextButton.png);
}

#box_2:hover {
    background: url(Buttons/DarkerNextButton.png);
    
}
.boxB {
    display: block;
    background: transparent;
}

#box_3 {
   
    top: 15px;
    left: 750px;
    position: absolute;
    width: 770px;
    height: 466px;
    background-image: url(Buttons/BeforeFlipCloud_Page1.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
#box_3:hover{
    width: 770px;
    height: 466px;
    background-image: url(Buttons/AfterFlipCloud_Page1.png);
    
}