*{
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
}

.container {
    display: block; 
    margin: 0 auto;
    position: relative;
    width: 1590px;
    height: 1280px;
    background: url(page11.png);
    background-repeat: no-repeat;
    background: contain;
    
}
.box {
    display: block;
    background: transparent;    
}
#box_1 {
 
    top: 1145px;
    left: 80px;
    position: absolute;
    width: 117px;
    height: 60px;
    background: url(BackButton.png);
    
}

#box_1:hover {
    background: url(BackButtonOVER.png);
    
}

#box_2 {

    top: 1145px;
    left: 1400px;
    position: absolute;
    width: 117px;
    height: 60px;
    background: url(NextButton.png);
    
}

#box_2:hover {
    background: url(DarkerNextButton.png);
    
    
}
