*{
    margin: 0px;
    padding: 0px;
}

body {
    background: white;
}

.container {
    display: block; 
    margin: 0 auto;
    width: 1590px;
    height: 3840px;
    background: url(Page10-11Scrolldown.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: right;
    background: contain;

    
}
.boxA {
    display: block;
    background: transparent;    
}
#box_1 {

    top: 1150px;
    left: 80px;
    position: relative;
    width: 117px;
    height: 60px;
    background: url(BackButtonOVER.png);
}

#box_1:hover {
    background: url(BackButtonOVER.png);
    
}
.boxB {
    display: block;
    background: transparent;    
}
#box_2 {

    top: 3550px;
    left: 970px;
    position: relative;
    width: 115px;
    height: 108px;
    background: url(LoveButton.png);
    
}

#box_2:hover {
    background: url(LoveButton.png);
    
    
}
